@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);








*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
body{
    background-color: #f3ebe9;
    padding: 0 7rem;
}

header{
    display: flex;
    justify-content: end;
    padding: 1rem 0;
    border-bottom: solid 1px #D5C9C9;
}
header .hello{
    background-color: #F7E523;
    color: #07120C;
    box-shadow: 4px 4px 0 0 #07120C;
    width: 137px;
    height: 46px;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    border: solid 1px #07120C;
}
header .burger{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1.5px #07120C;
    display: none;
    justify-content: center;
    align-items: center;
}
.rotate {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
}
header .hello:hover{
    animation: vibrate 0.2s infinite alternate; 
}
header .hello a{
    display: flex;
    align-items: center;
    color: #07120C;
    font-weight: 700;
}


.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: max-content;
    padding: 2rem 0;
}
.main .intro{
    text-align: center;
    width: 40%;
}
.main .intro img{
    width: 100%;
}
.main .intro h1{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.main .intro .title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.main .intro .motto{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5rem;
}
.hire-button {
    background-color: #F7E523;
    box-shadow: 4px 4px 0 0 #07120C;
    width: 100%;
    height: 46px;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    outline: none;
    border: solid 1px #07120C;
    cursor: pointer;
    animation: vibrate 0.4s infinite alternate;
    transition: all 0.4s ease-in-out;

}
.hire-button:hover{
    animation: none;
    transform: scale(1.05);
}
.hire-button a{
    color: #07120C;
    font-size: 20px;
    font-weight: 700;
}
@keyframes vibrate {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

.main .links{
    width: 60%;
}
.main .links .portfolio,
.main .links .resume{
    width: 89%;
    background-color: #E4D9D7;
    border: solid 1px #E4D9D7;
    padding: 2rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main .links .portfolio a, .resume a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #07120C;
    font-size: 20px;
    font-weight: 700;
}

.main .links .socials{
    width: 89%;
    height: max-content;
    background-color: #E4D9D7;
    border: solid 1px #E4D9D7;
    padding: 2rem 2rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
.main .links .portfolio:hover,
.main .links .resume:hover{
    background-color: #bdb5b5;
    transform: scale(1.03);
    box-shadow: 2px 2px 6px 2px #6161610e;
}
.main .links .socials p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.main .links .socials .inner{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.main .links .socials .inner div{
    text-align: center;
    width: 22%;
}
.main .links .socials .inner button{
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    border: solid 1.5px #07120C;
    box-shadow: 4px 4px 0 0 #07120C;
    margin-bottom: 5px;
}
.main .links .socials .inner button:hover{
    animation: vibrate 0.2s infinite alternate;
}
.behance{
    background-color: transparent;
}
.twitter{
    background-color: #00AAEC;
}
.linkedin{
    background-color: #758CA3;
}
.instagram{
    background: linear-gradient(180deg, #9239A6 0%, #F98C24 100%);

}
.main .links .socials .inner button a img{
    width: 50%;
}
.main .links .socials .inner p{
    font-size: 12px;
    font-weight: 500;
}



@media (max-width:886px) {
    body{
        background-color: #f3ebe9;
        padding: 0 7rem;
    }
    
    header{
        display: flex;
        justify-content: end;
        padding: 1rem 0;
        border-bottom: solid 1px #D5C9C9;
    }
    header .hello{
        background-color: #F7E523;
        color: #07120C;
        box-shadow: 4px 4px 0 0 #07120C;
        width: 137px;
        height: 46px;
        padding: 8px 20px 8px 20px;
        border-radius: 15px;
        border: solid 1px #07120C;
    }
    header .burger{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: solid 1.5px #07120C;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .rotate {
        transform: rotate(90deg);
        transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
    }
    header .hello:hover{
        animation: vibrate 0.2s infinite alternate; 
    }
    header .hello a{
        display: flex;
        align-items: center;
        color: #07120C;
        font-weight: 700;
    }
    
    .main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: max-content;
        padding: 4rem 0;
    }
    .main .intro{
        text-align: center;
        width: 70%;
    }
    .main .intro img{
        width: 100%;
    }
    .main .intro h1{
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .main .intro .title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .main .intro .motto{
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 5rem;
    }
    .hire-button {
        background-color: #F7E523;
        box-shadow: 4px 4px 0 0 #07120C;
        width: 100%;
        height: 46px;
        padding: 8px 20px 8px 20px;
        border-radius: 15px;
        outline: none;
        border: solid 1px #07120C;
        cursor: pointer;
        animation: vibrate 0.4s infinite alternate;
    }
    .hire-button a{
        color: #07120C;
        font-size: 20px;
        font-weight: 700;
    }
    @keyframes vibrate {
        0% { transform: scale(1); }
        100% { transform: scale(1.05); }
    }
    
    .main .links{
        width: 80%;
    }
    .main .links .portfolio,
    .main .links .resume{
        width: 89%;
        background-color: #E4D9D7;
        border: solid 1px #E4D9D7;
        padding: 2rem;
        border-radius: 50px;
        margin-bottom: 1rem;
    }
    
    .main .links .portfolio a, .resume a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #07120C;
        font-size: 20px;
        font-weight: 700;
    }
    
    .main .links .socials{
        width: 89%;
        background-color: #E4D9D7;
        border: solid 1px #E4D9D7;
        padding: 2rem;
        border-radius: 50px;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main .links .socials p{
        font-size: 20px;
        font-weight: 700;
    }
    .main .links .socials .inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .main .links .socials .inner div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .main .links .socials .inner button{
        width: 4rem;
        height: 4rem;
        border-radius: 20px;
        border: solid 1.5px #07120C;
        box-shadow: 4px 4px 0 0 #07120C;
        margin-bottom: 5px;
    }
    .behance{
        background-color: transparent;
    }
    .twitter{
        background-color: #00AAEC;
    }
    .linkedin{
        background-color: #758CA3;
    }
    .instagram{
        background: linear-gradient(180deg, #9239A6 0%, #F98C24 100%);
    
    }
    .main .links .socials .inner button a img{
        width: 50%;
    }
    .main .links .socials .inner p{
        font-size: 12px;
        font-weight: 500;
    }
}


@media (max-width:767px) {
    body{
        background-color: #f3ebe9;
        padding: 0 2rem;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: solid 1px #D5C9C9;
    }
    header .hello{
        transform: translateX(-150%);
        background-color: #F7E523;
        color: #07120C;
        box-shadow: 4px 4px 0 0 #07120C;
        width: 137px;
        height: 46px;
        padding: 8px 20px 8px 20px;
        border-radius: 15px;
        border: solid 1px #07120C;
    }
    header .burger{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: solid 1.5px #07120C;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rotate {
        transform: rotate(90deg);
        transition: transform 0.5s ease-in-out; /* Add transition for smooth animation */
    }
    header .hello:hover{
        animation: vibrate 0.2s infinite alternate; 
    }
    header .hello a{
        display: flex;
        align-items: center;
        color: #07120C;
        font-weight: 700;
    }
    
    
    .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: max-content;
        padding: 2rem 0;
    }
    .main .intro{
        text-align: center;
        width: 100%;
    }
    .main .intro img{
        width: 100%;
    }
    .main .intro h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .main .intro .title{
        font-size: 16px;
        font-weight: 500;
        margin-bottom: .5rem;
    }
    .main .intro .motto{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    .hire-button {
        background-color: #F7E523;
        box-shadow: 4px 4px 0 0 #07120C;
        width: 100%;
        height: 46px;
        padding: 8px 20px 8px 20px;
        border-radius: 15px;
        outline: none;
        border: solid 1px #07120C;
        cursor: pointer;
        animation: vibrate 0.4s infinite alternate;
    }
    .hire-button a{
        color: #07120C;
        font-size: 20px;
        font-weight: 700;
    }
    @keyframes vibrate {
        0% { transform: scale(1); }
        100% { transform: scale(1.05); }
    }
    
    .main .links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .links .portfolio,
    .main .links .resume{
        width: 75%;
        background-color: #E4D9D7;
        border: solid 1px #E4D9D7;
        padding: 1.5rem;
        border-radius: 50px;
        margin-bottom: 1rem;
    }
    
    .main .links .portfolio a, .resume a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #07120C;
        font-size: 16px;
        font-weight: 700;
    }
    
    .main .links .socials{
        width: 75%;
        background-color: #E4D9D7;
        border: solid 1px #E4D9D7;
        padding: 2rem;
        border-radius: 50px;
        margin-bottom: 1rem;
    }
    .main .links .socials p{
        font-size: 16px;
        font-weight: 700;
    }
    .main .links .socials .inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .main .links .socials .inner div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .main .links .socials .inner button{
        width: 4rem;
        height: 4rem;
        border-radius: 20px;
        border: solid 1.5px #07120C;
        box-shadow: 4px 4px 0 0 #07120C;
        margin-bottom: 5px;
    }
    .behance{
        background-color: transparent;
    }
    .twitter{
        background-color: #00AAEC;
    }
    .linkedin{
        background-color: #758CA3;
    }
    .instagram{
        background: linear-gradient(180deg, #9239A6 0%, #F98C24 100%);
    
    }
    .main .links .socials .inner button a img{
        width: 50%;
    }
    .main .links .socials .inner p{
        font-size: 12px;
        font-weight: 500;
    }
}